.red-bar {
  background-color: red;
}

.navigation {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-end;
}

.nav-buttons {
  margin: 0 10px 0 0;
}

.credits {
  line-height:  36px;
  margin: 0 10px;
}

.logo {
  font-size: 46px;
  text-decoration: none;
}