.landing{
    position: relative;
}

    .landing-banner {
        width: 100%;
    }

    .landing-header-container {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: Roboto, Arial, sans-serif;
        font-size: 50px;
        color: #2D2D2D;
    }

    /* .landing-animation-appear {
        transform: rotate(15deg);
        transition: transform 1000ms ease-in;
    } */
    
      .example-appear {
        opacity: 0.01;
      }
      
      .example-appear.example-appear-active {
        opacity: 1;
        transition: opacity .5s ease-in;
      }