.new-survey-preview {
  text-align: center;
}

.new-survey-preview-header {
  font-size: 20px !important;
  line-height: 26px !important;
}

.new-survey-preview-button {
  margin: 0 10px;
}

.new-survey-form-input {
  display: inline-block;
  text-align: left;
}